/* LOGIN */
.admin-login {
  margin-top: 30vh;
  height: 00vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #020617;
}

.login-card {
  background: white;
  padding: 30px;
  width: 320px;
  border-radius: 10px;
  text-align: center;
}

.login-card input {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  text-align: center;
  margin: 15px 0;
  border: 2px solid black;
  border-radius: 5px;
}

.login-card button {
  width: 100%;
  padding: 10px;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 6px;
}

.error {
  color: red;
  font-size: 14px;
}

/* LAYOUT */
.admin-wrapper {
  display: flex;
  min-height: 90vh;
  background: #f8fafc;
}

.admin-sidebar {
  width: 220px;
  background: #020617;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.admin-sidebar a {
  color: #cbd5f5;
  text-decoration: none;
  padding: 8px;
  border-radius: 6px;
}

.admin-sidebar a.active {
  background: #2563eb;
  color: white;
}

.logout {
  margin-top: auto;
  background: #ef4444;
  border: none;
  padding: 10px;
  color: white;
  border-radius: 6px;
}

/* MAIN */
.admin-main {
  flex: 1;
}

.admin-header {
  background: white;
  padding: 15px 25px;
  border-bottom: 1px solid #e5e7eb;
}

.admin-content {
  padding: 20px;
}
